extends layout.jade

block content
  .container
    hr.featurette-divider
    .row.featurette
      h1.contact
        a(href="mailto:"+general.contact+"?Subject=Hello%20Fox-Bear") #{general.contact}
    hr.featurette-divider
