doctype
html
  head
    title #{title} - FoxBear
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 FoxBear
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p 
        span Working on it . . .  |  
        span <a href="mailto:hello@foxbear.com">hello@foxbear.com</a>  |  
        span &copy; FoxBear 2014.